body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  color: white;
}

.calculator {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  margin-top: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #334155;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #475569;
}

#output {
  margin-top: 15px;
  font-size: 20px;
}